<h1>SHIPPING OPTIONS!</h1>

<%= form_for @shipping do |f| %>

  <% @ups.each do |option|%>
    <fieldset>
      <%= f.label :service_name, "Service: #{option[0]}" %>
      <%= f.hidden_field :service_name, value: option[0] %>

      <%= f.label :price, "Cost: #{option[1]}" %>
      <%= f.hidden_field :price, value: option[1] %>

      <%= f.label :est_date, "Est. Delivery Date: #{option[2]}" %>
      <%= f.hidden_field :est_date, value: option[2] %>

      <%= f.hidden_field :carrier, value: "UPS" %>

      <%= f.submit "Select This Option", name: option %>
    </fieldset>
  <% end %>

  <% @fedex.each do |option|%>
    <fieldset>
      <%= f.label :service_name, "Service: #{option[0]}" %>
      <%= f.hidden_field :service_name, value: option[0] %>

      <%= f.label :price, "Cost: #{option[1]}" %>
      <%= f.hidden_field :price, value: option[1] %>

      <%= f.label :est_date, "Est. Delivery Date: #{option[2]}" %>
      <%= f.hidden_field :est_date, value: option[2] %>

      <%= f.hidden_field :carrier, value: "FedEx" %>

      <%= f.submit "Select This Option", name: option %>
      <% end %>
    </fieldset>
<% end %>
