<h1>SHIPPING OPTIONS!</h1>

<% @ups.each do |option|%>
  <p>
  Service: <%= option[0]  %>
  </p>
  <p>
  Cost: <%= option[1]  %>
  </p>
  <p>
  Est. Delivery Date: <%= option[2]  %>
  </p>
<% end %>


<% @fedex.each do |option|%>
  <p>
  Service: <%= option[0]  %>
  </p>
  <p>
  Cost: <%= option[1]  %>
  </p>
  <p>
  Est. Delivery Date: <%= option[2]  %>
  </p>
<% end %>
